body {
  font-family: serif;
  color: #000000;
}

.navbar-inverse {
  background-color: #000000;
}

#intro-content {
  color: #000000;
  background-color: #FFFFFF;
  margin-top: 200px;
  text-align: center;
}

#content {
  display: none;
  color: #000000;
  background-color: #FFFFFF;
  margin-top: 100px;
  text-align: center;
}

#win {
  display: none;
  color: #000000;
  background-color: #FFFFFF;
  margin-top: 200px;
  text-align: center;
}

.page-header {
  font-size: 65pt;
  margin-bottom: 75px;
  padding-bottom: 35px;
}

h1 {
  font-size: 35pt;
  padding-bottom: 30px;
}

#names-row {
  margin-right: 35px;
  margin-left: 25px;
}

#p2input-name {
  margin-left: 15px;
}

#turn-message {
  color: #CC3333;
  margin-top: -20px;
}

#die-box {
  width: 150px;
  height: 150px;
  background: #000000;
  border: #000000;
  color: #FFFFFF;
  font-size: 100px;
  text-align: center;
  margin-top: 65px;
}

#p1-roll, #p1-hold, #p2-roll, #p2-hold {
  margin-top: 35px;
  margin-left: 20px;
  font-size: 15pt;
}

#restart-btn {
  font-size: 15pt;
  margin-top: 35px;
}

.btn-primary {
  font-size: 25pt;
  margin-top: 20px;
}

#startgame-btn {
  margin-top: 125px;
}

#reset-gamepage, #reset-winpage {
  width: 100%;
}

.btn-info {
  margin-top: 75px;
  margin-bottom: 50px;
}

input {
  margin-bottom: -50px;
}

p {
  margin-top: -45px;
  padding-bottom: 25px;
  font-size: 15pt;
}

.rules {
  margin-left: 75px;
  margin-right: 75px;
}

#footer {
  margin-top: 100px;
}
