body {
  font-family: serif;
  color: #000000;
}

#nav {
  margin-top: -35px;
  padding-bottom: 3px;
}

#intro-content {
  text-align: center;
  margin-top: 250px;
}

#content {
  /*display: none;*/
  padding-top: 150px;
  text-align: center;
}

.page-header {
  font-size: 65pt;
  margin-bottom: 75px;
  padding-bottom: 35px;
}

.row {
  width: 135%;
}

h1 {
  font-size: 35pt;
  padding-bottom: 30px;
}

#dice {
  width: 150px;
  height: 150px;
  background: #000000;
  border: #000000;
  color: #FFFFFF;
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
}

.btn {
  margin-top: 35px;
  margin-left: 20px;
  font-size: 15pt;
}

.btn-primary {
  font-size: 25pt;
  margin-top: 20px;
  width: 100%;
}

.btn-info {
  margin-top: 75px;
  margin-bottom: 50px;
}

input {
  margin-bottom: -50px;
}

p {
  margin-top: -45px;
  padding-bottom: 25px;
}
